streamlit==1.35.0

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-text-splitters==0.2.4
langchain-groq==0.1.9
langchain-huggingface==0.0.3

chromadb==0.5.5

sentence-transformers==3.0.1
transformers==4.44.2
huggingface-hub==0.24.6

GitPython==3.1.43

pandas==2.2.2
numpy==1.26.4

pydantic==2.8.2
tiktoken==0.7.0

torch
python-dotenv
